%h1 Register Form

-# frozen_string_literal: true
= simple_form_for @user, :url => register_path do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :email,class:'col-12 mt-2'
    = f.input :display_name,class:'mt-2'
    = f.input :password,class:'mt-2', :input_html => {:minlength => 8 }
    = f.input :password_confirmation, required:true,class:'mt-2'

  .form-actions
    = f.button :submit,'Create User',class:'btn btn-success mt-2',commit: 'Create_user'
    = link_to 'Cancel', login_path,class:"btn btn-outline-danger mt-2"
